<a href="https://colab.research.google.com/github/Aqsaarshi/python-assignment-3/blob/main/class_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class Assignment 3
**Basic List Operations**


1. Create a list of five numbers and append a new number to it. Print the updated list.

In [103]:
numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In [105]:
list_1 = [1,2,3]
list_1.extend([4,5,6])
print(list_1)

[1, 2, 3, 4, 5, 6]

3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
"Ruby"].

In [106]:
language = ["Java", "C++", "JavaScript", "Ruby"]
language.insert(2,"Python")
print(language)

['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In [107]:
number_list= [10,20,30,10,40]
number_list.remove(10)
print(number_list)

[20, 30, 10, 40]

5. Use the pop() method to remove the last element from [100, 200, 300, 400] and
print the modified list.

In [108]:
numbers_list = [100,200,300,400]
numbers_list.pop()
print(numbers_list)

[100, 200, 300]

**Intermediate List Operations**
6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30]

In [109]:
Numb = [5,10,5,20,5,30]
Numb.count(5)
print(Numb.count(5))

3

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

In [110]:
assending = [9,1,8,3,5]
assending.sort()
print(assending)

decending = [9,1,8,3,5]
decending.sort(reverse=True)
print(decending)

[1, 3, 5, 8, 9]
[9, 8, 5, 3, 1]

8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

In [111]:
fruits = ["apple","banana","cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
copied list and print both lists.

In [112]:
original = [1,2,3,4,5]
copy = original.copy()
copy.append(6)
print(original)
print(copy)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
method.

In [113]:
words = ["hello","world","python"]
words.clear()
print(words)

[]

**Tuple-Based Questions**
11. Create a tuple with 5 different fruits and print the third fruit.

In [134]:
fruits_tuple = ("apple","banana","orange","kiwi","mango")
print(fruits_tuple[2])

orange

12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
it back into a tuple.

In [197]:

my_tuple = (10, 20, 30, 40, 50)
my_list = builtins.list(my_tuple)
my_list.remove(30)
my_tuple =builtins.tuple(my_list)
my_tuple

(10, 20, 40, 50)

13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
modify a tuple indirectly?

In [198]:
tuple1=("A","B","C")
#tuple1.append("D")
#print(tuple1)
modified_tuple = tuple1 + ("D",)
print(modified_tuple)

('A', 'B', 'C', 'D')

14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

In [199]:
A,B,C =(100,200,300)
print(A,B,C)

100 200 300

15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [200]:
count_7 = (7, 1, 7, 3, 7, 5).count(7)
print(count_7)

3

**Advanced Problems**
16. Write a function that takes a list and returns a new list with all even numbers removed.

In [201]:
def remove_evens(lst):
    return [x for x in lst if x % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = remove_evens(numbers)
print(result)

[1, 3, 5, 7, 9]

17. Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort() method.

In [213]:
def sort_descening(lst):
    return sorted(lst, reverse=True)

numbers = [5, 2, 9, 1, 7]
sorted_numbers = sort_descening(numbers)
print(sorted_numbers)

[9, 7, 5, 2, 1]

18. Given a list of numbers, write a program to remove all duplicate elements and print the
unique elements.

In [225]:
def remove_duplicates(lst):

    return builtins.list(set(lst))

import builtins

numbers = [1, 2, 3, 2, 4, 5, 5, 6, 7, 7]
unique_numbers = remove_duplicates(numbers)
print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7]

19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
it into a list, remove duplicates, and convert it back to a tuple.

In [229]:
names = ("Alice", "Bob", "Charlie", "Alice", "David")
unique_names = builtins.tuple(set(names))
print(unique_names)

('Bob', 'Charlie', 'Alice', 'David')

20. Create a program that takes a list of mixed data types (int, str, float) and separates
integers into one list, strings into another, and floats into another.

In [230]:
def separate_types(lst):
    ints = [x for x in lst if isinstance(x, int)]
    strs = [x for x in lst if isinstance(x, str)]
    floats = [x for x in lst if isinstance(x, float)]
    return ints, strs, floats

mixed_list = [1, "hello", 2.5, 3, "world", 4.0]
ints, strs, floats = separate_types(mixed_list)
print("Integers:", ints)
print("Strings:", strs)
print("Floats:", floats)

Integers: [1, 3]
Strings: ['hello', 'world']
Floats: [2.5, 4.0]